
/*-------------------
Sample CSS overwriting main.css rules

[Table of contents]
    1. Typography
    2. Page cover behavior on scroll 
[Colors]
    Dark blue : rgba(16, 25, 35, 0.9);
[Typography]
    font-family :
    - Serif : "Playfair Display"
*/
@import "variables";

/* 1. Typography */
// typography
.page-header-alpha .navbar-mainmenu .nav-item{
    font-family: $serif;
    text-transform: none;
    letter-spacing: 0;
}
.display-title{
    font-family: $geo;
}
.section-title .title{
    font-family: $geo;
    text-transform: none;
}
.media-service h4{
    font-family: $geo;
}
.section-content h2{
    font-family: $geo;
}
.section-content h3{
    font-family: $geo;
}

/* 2. Page cover behavior on scroll / .page-cover */ 
.page-cover{
    &:after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        transition: 0.3s;
        background-image: linear-gradient(to right, #000, rgba(0,0,0,0));
    }
    &.scrolled:after{
        opacity: .5;

    }
}
.section-register{
    background: rgba(white, 0.05);
}

/* 3. Item page */
.section-twoside{
    .section-side.side-content{
        background: rgba(16, 25, 35, 0.9);
        color: $white;
        .btn-outline-white,
        .btn-outline-black{
            color: currentColor;
            border-color: currentColor;
        }
    }
}

.logo-bwstudio{
    width:400px;
    margin: auto auto auto 40px;
    @media screen and (max-width: 768px){
        width: 100%;
        margin: auto;
    }
}

.vr-ar{
    img{
        width:400px;
        margin-left: 100px;
        @media screen and (max-width: 760px){
            width: 100%;
            margin: auto;
        }
    }
}
.exterior-content,
.interior-content{
    img{
        width: 520px;
        @media screen and (max-width: 760px){
            width: 100%;
        }
    }
}