.section-title {
    max-width: 1024px;
    margin: 32px auto;
    @media (min-width: $large-up) {
        margin: 0 auto;
    }
    &.title-large{
        max-width: 720px;
    }
    .title{
        // max-width: 100%;
        line-height: 1;
        // margin-top: -0.07em;
        margin-bottom: 0;
        // transform: translateX(-50%) translateY(-60%);
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.3s ease-in-out;
        font-family: $condensed;
        font-size: 4rem;
        &.no-anim{
            opacity: 1;
            transform: translateX(-50%) translateY(-50%);
        }
        
        @media (min-width: $medium-up) {
            padding-left: 0.2em;
            font-size: 6rem;
        }
        @media (min-width: $large-up) {
            transform: scale(1.2);
            opacity: 0;
            letter-spacing: 0.0em;
            padding-left: 0.0em;
            // font-size: 8rem;
            filter: blur(50px);
        }
    }
}
.section.active{
    .title{
        transition-delay: 0.3s;
        transform: none;
        @media (min-width: $medium-up) {
            filter: blur(0px);
            opacity: 1;
        }
        @media (min-width: $large-up) {
            filter: blur(0px);
            opacity: 1;
        }
    }
}
.section-title.decor{
    position: relative;
    &::before{
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        $size: 420px;
        width: $size;
        height: $size;
        margin-left: -$size / 2;
        margin-top: -$size / 2;
        border: 1px solid rgba(white, 0.2);
        // background: rgba(white,0.2);
        border-radius: 500px;
        z-index: -1;
    }
    &::after{
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        $size: 420px-96px;
        width: $size;
        height: $size;
        margin-left: -$size / 2;
        margin-top: -$size / 2;
        border: 1px solid rgba(white, 0.2);
        // background: rgba(white,0.1);
        border-radius: 500px;
        z-index: -1;
    }
}